body{
    background-color: azure;
    text-align: center;
}

.icones{
    color: red;
    font-size: 120px;
    padding: 2px;
}

.icones:hover{
    color:white;
    background-color: red;
    padding: 2px;
    cursor: pointer;
}

i{
    font-size: 120px;
    padding: 2px;
}
.esq{
    color: yellow;
    padding: 2px;
    cursor:pointer;
}
.dir{
    color: green;
    padding: 2px;
    cursor:pointer;
}
.esq:hover{
    color: green;
    background-color: yellow;
    padding: 2px;
    cursor: pointer;
}

.dir:hover{
    color: yellow;
    background-color: green;
    padding: 2px;
    cursor: pointer;
}