body{
   background-color: violet; 
   color: white;
   text-align: center;
   
}
#bloco{
    background-color: black;
    display: block;
    /* width: 200px;
    height: 400px; */
}

#quad1{
    background-color: red;
}
#quad2{
    background-color: yellow;
    /* margin-top: 20px; */

}
#quad3{
    background-color: green;
}



#bloco-linha{
    background-color: blue;
}

#linha{
    background-color: rgb(0, 255, 136);
}

.quad{
    width: 200px;
    height: 200px;
    font-size: 50px;
    text-shadow: 3px 3px black;
    /* float: left */
    /* display: inline-block; */
    /* display: inline; */
}

#flex{
    background-color: aqua;
    display: flex;
    height: 500px;
    /* flex-direction: row;
    flex-wrap: wrap; */                                                                                 ;
    /* gap: 10px; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content:center;  */
    /* align-items: center; */
    /* align-content: center; */
    flex-flow: row nowrap; 
}

#quad1{
    /* capacidade de aumentar */
    flex-grow: 1;    
}

#quad2{
    /* capacidade de diminuir */
    flex-shrink: 0;
}

#quad3{

}